<div class="home-image">
  <div class="container-main">
    <div id="homescreen-banner">
      <h1><strong>Vista Villas</strong></h1>
      <p><em>Your next trip is one click away!</em></p>
      <%= link_to "Begin your search", villas_path, class: "btn-main" %>
    </div>
  </div>
</div>
