<div class="container mt-5">
  <div class="row">
    <% @villas.each do |villa| %>
      <div class="col-md-4">
        <div class="card card-trip mb-4">
          <%= image_tag villa.img_url, alt: villa.villa_name, class: "card-img-top" %>
          <div class="card-body card-trip-infos">
            <div>
              <h2 class="card-title"><%= villa.villa_name %></h2>
              <p class="card-text">Hosted By: <%= villa.user_id %></p>
            </div>
           <div class="d-flex flex-row">
              <div class="rating-container">
                <% villa.rating.round.times do %>
                  <i class="fas fa-star star-yellow"></i>
                <% end %>
                <h2 class="card-trip-pricing">£99.99</h2>
              </div>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
