a {
  text-decoration: none;
}

.hr-main {
  height: 5px;
  width: 50%;
  background-color: white;
  border: none;
}

h1, h2, h3, h4, label, button, a{
  font-family: "Cinzel", serif;
}

p, input {
  font-family: "Merriweather", serif;
}

a {
 color: #DCA47C;

  &:hover {
    color: #000000;
  }
}
