.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.avatar {
  border-radius: 50%; /* This makes the image circular */
  object-fit: cover; /* Ensures the image covers the given dimensions */
  width: 50px; /* Adjust width as necessary */
  height: 50px; /* Adjust height as necessary */
}
