.villa-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.353);
  border-radius: 20px;
  position: relative;

  img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
  }
}

.villa-info {
  padding: 20px;

  h1 {
    color: #DCA47C;
  }
}

.divider {
  width: 100%;
  color: #DCA47C;
  height: 5px;
  border-bottom: 3px solid #DCA47C;
  margin: 0px;
}

.divider-show {
  width: 100%;
  color: #DCA47C;
  height: 5px;
  border-bottom: 3px solid #DCA47C;
}
