// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.flash {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.flash.notice {
  background-color: #e7f5ff;
  border: 1px solid #b3d7ff;
  color: #007bff;
}

.flash.alert {
  background-color: #ffebeb;
  border: 1px solid #ffb3b3;
  color: #ff0000;
}
